.button {
  padding: 1rem 2rem;
  border: 0;
  margin: 0;
  cursor: pointer;
  transition: 250ms background-color, 250ms border-color;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  color: var(--foreground);
}

.button:hover {
  background-color: var(--hover);
}

.primary {
  color: var(--font-color-white);
  background-color: var(--color-1);
  border-color: var(--color-1-border);
  font-weight: 800;
}

.primary.alt {
  background-color: var(--color-1-alt);
}

.primary.alt:hover {
  background-color: var(--color-1-alt-hover);
}

.primary:hover {
  background-color: var(--color-1-hover);
}
