.newExpenseFormWrapper {
  background-color: var(--background-alt);
}

form.newExpenseForm {
  padding: var(--spacing-24) var(--spacing-24);
}

form.newExpenseForm h3 {
  margin-bottom: var(--spacing-24);
}

form.newExpenseForm > label {
  margin: 0;
  display: inline-block;
  margin-right: var(--spacing-16);
}

.buttonWrapper {
  display: flex;
  margin-top: var(--spacing-24);
  justify-content: space-between;
}
