.projectCard {
  margin: var(--spacing-24);
  padding: var(--spacing-24);
  box-shadow: var(--box-shadow-alt);
  background-color: var(--background);
}

.projectCard h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  display: inline-block;
  color: var(--background);
  padding: 0 var(--spacing-8);
  margin-right: var(--spacing-16);
  border-radius: var(--border-radius);
  background-color: var(--foreground);
}

.budget {
  margin: var(--spacing-24) 0 0;
  box-shadow: var(--box-shadow-alt);
  border-radius: var(--border-radius);
  background-color: var(--green);
  text-align: center;
  position: relative;
}

.budget span {
  position: relative;
}

.budgetPercentage {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background: green;
  border-radius: var(--border-radius);
}
