:root {
  /* Font sizes */
  --font-p-small: 1.3rem;
  --font-p-medium: 1.6rem;
  --font-h1: 4.8rem;
  --font-h2: 3.6rem;
  --font-h3: 2.4rem;
  --font-h4: 2rem;
  --font-h5: 2rem;
  --font-h6: 1.6rem;
  --font-text-1: 2.4rem;
  --font-text-2: 2rem;
  --font-text-3: 1.8rem;
  --font-text-4: 1.6rem;
  --font-text-5: 1.4rem;
  --font-text-6: 1.2rem;
  --font-text-7: 1rem;

  /* Line height */
  --line-height-p-small: 2rem;
  --line-height-p-medium: 2.4rem;
  --line-height-h1: 5.6rem;
  --line-height-h2: 4.4rem;
  --line-height-h3: 3.2rem;
  --line-height-h4: 2.8rem;
  --line-height-h5: 2.8rem;
  --line-height-h6: 2.4rem;

  --line-height-text-1: 3rem;
  --line-height-text-2: 2.8rem;
  --line-height-text-3: 2.4rem;
  --line-height-text-4: 2.4rem;
  --line-height-text-5: 2.2rem;
  --line-height-text-6: 1.6rem;
  --line-height-text-7: 1.8rem;
}

sub,
sup {
  line-height: 0.1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  :root {
    /* Font sizes */
    --font-h1: 6rem;
    --font-h2: 4.8rem;
    --font-h3: 3.6rem;
    --font-h4: 2.4rem;
    --font-h5: 2rem;
    --font-h6: 1.6rem;

    /* Line height */
    --line-height-h1: 7rem;
    --line-height-h2: 5.6rem;
    --line-height-h3: 4.4rem;
    --line-height-h4: 3.2rem;
    --line-height-h5: 2.8rem;
    --line-height-h6: 2.4rem;
  }
}
