.languageButton {
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.headline {
  display: flex;
  margin: var(--spacing-48) 0 var(--spacing-24);
}

.headline span:first-child,
.headline span:last-child {
  flex: 1;
  text-align: left;
}

.headline span:last-child {
  text-align: right;
}

.languageButton > a,
.languageButton button {
  border-radius: 0;
  width: 100%;
}

.firstButton.firstButton {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.lastButton.lastButton {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.noRightBorder.noRightBorder {
  border-right-color: transparent;
}

.noLeftBorder.noLeftBorder {
  border-left-color: transparent;
}
